# Linux/x86 6.12.16-gentoo Kernel Configuration
CONFIG_CC_VERSION_TEXT="gcc (Gentoo Hardened 14.2.1_p20241221 p7) 14.2.1 20241221"
CONFIG_AS_VERSION=24400
CONFIG_LD_VERSION=24400
CONFIG_RUSTC_VERSION=108401
CONFIG_RUSTC_LLVM_VERSION=190105
# CONFIG_GENTOO_LINUX_INIT_SCRIPT is not set
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=y
